
.statLine{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    margin-top: 25px;
}

body{
    background: gainsboro;
}


@media screen and (max-width: 700px) {

    .statLine{
        display: block;
       
    }
    
}