.Header{
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    height: auto;
    background-color: #0a2247;
    box-shadow: 0px 2px 10px grey;
}

.Header h1{
    color: gainsboro;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 40px; 
    text-shadow: 2px 2px 2px grey;
}